{%extends 'base.html'%}
{%load static%}
    {%block content%}
        <h1>{{cook}}</h1>
        {%if catigory == 'Breakfast'%}
        <p>{{Breakfast.food_catigory}}</p>
        <p>List of Breakfast food to make:</p>
                {% for item in Breakfast.list_of_food %}
                <li>
                    {{item}}
                </li>
                {% endfor %}
            </ul> 
        {%endif%}
        {%if catigory == 'Vegan'%}
        <p>{{Vegan.food_catigory}}</p>
        <p>List of Vegan food to make:</p>
                {% for item in Vegan.list_of_food %}
                <li>
                    {{item}}
                </li>
                {% endfor %}
            </ul> 
        {%endif%}
        {%if team == 'Meat'%}
        <p>{{Meat.food_catigory}}</p>
        <p>List of Meat food to make:</p>
                {% for item in Meat.list_of_food %}
                <li>
                    {{item}}
                </li>
                {% endfor %}
            </ul> 
        {%endif%}
        {%if team == 'Dessert'%}
        <p>{{Dessert.food_catigory}}</p>
        <p>List of Dessert food to make:</p>
                {% for item in Dessert.list_of_food %}
                <li>
                    {{item}}
                </li>
                {% endfor %}
            </ul> 
        {%endif%}
         {%if team == 'Lunch'%}
        <p>{{Lunch.food_catigory}}</p>
        <p>List of Lunch food to make:</p>
                {% for item in Lunch.list_of_food %}
                <li>
                    {{item}}
                </li>
                {% endfor %}
            </ul> 
        {%endif%}
         {%if team == 'Chocolate'%}
        <p>{{Chocolate.food_catigory}}</p>
        <p>List of Chocolate food to make:</p>
                {% for item in Chocolate.list_of_food %}
                <li>
                    {{item}}
                </li>
                {% endfor %}
            </ul> 
        {%endif%}   
    {%endblock content%}